html{
  font-family: 'Raleway', sans-serif;
  font-size:16px;
  color:#324347;
  line-height:1.2;
  width:100%;
}
h1{
  font-size:3.5rem;
  font-family:'Poppins', sans-serif;
  font-weight:bolder;
}
h2{
  font-size:1.5rem;
  font-weight:bold;
}
h3{
  font-size:1.25rem;
  line-height:2rem;
  font-weight:normal;
}
/* Header section */
header{
  position:fixed;
  background-color:white;
  height:4rem;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  z-index: 10;
}
.logo{
  display:flex;
  align-items:center;
  height:100%;
}
.logo img{
  height:90%;
}
.logo p{
  font-size:2rem;
  font-weight:bold;
}
.colmar{
  color:#8ECCA8;
}
.academy{
  color:#3C887E;
}
nav{
  list-style: none;
  display:flex;
  align-items:center;
  padding-right:.5rem;
}
.mobile-nav{
  display:none;
}
nav li{
  color:#3D1E17;
  padding:1rem;
}
nav li a:hover{
  color:#3C887E;
  text-decoration:underline;
  font-size:1.05rem;
  transition:font-size .5s ease-in .1s, color .5s ease-in .1s;
}

@media only screen and (max-width:1000px){
nav{
  display:none;
}
.mobile-nav{
  display:flex;
  height:100%;
  width:75%;
  justify-content: space-around;
}
header{
  justify-content: center;
}

}
@media only screen and (max-width:490px){
  .colmar,
  .academy{
    display:none;
  }
  .logo{
    height:70%;
    width:25%;
    display:flex;
    justify-content:center;
  }
  header{
    justify-content: center;
  }
  .mobile-nav{
    height:100%;
    width:75%;
    justify-content: space-around;
  }
  .mobile-nav li img{
    margin:0 5%;
    padding:0;
    height:2rem;
    width:2rem;
  }

}
/* Main Content */

main{
    display:flex;
    flex-direction:column;
    position:relative;
    top:4rem;
    width:100%;
}
/* Jumbotron banner */
.contrast-container-top{
  background-color:#324347;
  width:100%;
  display:flex;
}
.contrast-container-top img{
  width:60%;
  height:100%;
  padding:2rem 1.5rem;
  display:flex;
}
.banner{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  width:40%;
}
.banner h1{
  color:white;
  padding:1rem;
  padding-right:2rem;
  display:flex;
}
.banner h2{
  padding:1.5rem;
  color:white;
  display:flex;
}
.banner .button{
  display:flex;
  justify-content:center;
  background-color:#8ECCA8;
  padding:.5rem;
  width:80%;
  margin:1rem;
}
.button a{
  color:white;
  font-size:1.5rem;
  font-family:'Poppins', sans-serif;
}
.button a:hover{
  color:#324347;
  transition:color 1s linear .2s;
}
@media only screen and (max-width:1000px) and (min-width:570px){
.contrast-container-top{
  justify-content:center;
  align-items:center;
}
.contrast-container-top img{
  width:40%;
  padding:0;
}
.banner h1{
  font-size:2rem;
}
.banner h2{
  padding:.5rem;
}
.banner{
  height:100%;
}
.banner .button{
  font-size:1rem;
  margin:1rem;
}
}
@media only screen and (max-width:570px){
  .contrast-container-top{
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.contrast-container-top img{
  width:100%;
  padding:0;
}
.banner{
  align-items: center;
  justify-content: center;
  padding:2rem 1rem;
}
  h1{
    display:flex;
    padding-bottom:2rem;
    align-items: center;
    justify-content: center;
    font-size:2rem;
    text-align:center;
    width:90%;
  }
  h2{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    width:90%;
    padding-bottom:1.5rem;
  }
  .button{
    margin:0;
    font-size:1rem;
  }
}
/*Second Block*/
.container-mid{
  display:flex;
  flex-direction:row;
  background-color:white;/*#8ECCA8;*/
}
/*Left Primary column, second Block*/
.container-mid-content h1,
.tile-content h2,
.container-mid-content h3,
.container-mid-content p,{
  color:#324347;
}
.container-mid-content h1{
  font-size:3.5rem;
  padding-top:2rem;
  color:#324347;
}
.tile-content h2{
font-size:1.75rem;
font-weight:bolder;
padding:.5rem;
padding-left:1rem;
color:white;
}
.container-mid-content h3,
.tile-content h3,
.tile-content a {
  font-size:1.25rem;
  padding:.5rem;
  padding-left:1rem;
  line-height:2rem;
  font-weight:300;
  color:white;
  display:flex;
  align-items:center;
}
.container-mid-content h3{
  color:#3C887E;
  padding:1rem;
}
.container-mid-content p{
  font-size:1rem;
  font-weight:bold;
}
.mid-left{
  display:flex;
  flex-direction:column;
  width:60%;
  height:100%;
  padding:2rem 1.5rem;
}
.mid-left img{
  height:100%;
  width:100%;
}
/*Right Primary column, second Block*/
.mid-right{
  width:40%;
  height:100%;
  padding:2rem 0;
  padding-right:1.5rem;
}
.mid-tile,
.mid-tile-contrast{
  display:flex;
  flex-direction:row;
  height:33.33%;
}
.image{
  padding:1rem;
  width:80%;
  height:100%;
  padding-right:0;
}
.mobile-image{
  display:none;
}
.mid-tile{
  background-color:#8ECCA8;
}
.mid-tile-contrast{
  background-color:#324347;
}
.tile-content{
  display:flex;
  flex-direction:column;
  width:65%;
}
.tile-content a{
  font-size:1rem;
  padding-left:1rem;
  padding-bottom:1rem;
  text-align:center;
  font-weight:200;
}
.tile-content a:hover{
  color:#3C887E;
  text-decoration:underline;
  font-size:1.05rem;
  transition:font-size .5s ease-in .1s, color .5s ease-in .1s;
}
.tile-content h2{
  padding:1rem;

}
.tile-content h3{
  padding:1rem;
}
@media only screen and (max-width:1160px) and (min-width:570px){
  .image{
    display:none;
  }

  .mid-tile,
  .mid-tile-contrast{
    height:20%;
    display:flex;
    text-align:center;
    justify-content:center;
    align-items: content;
  }
  .tile-content h2,
  .tile-content h3,
  .tile-content a{
    display:flex;
    text-align:center;
    justify-content:center;
    align-items: content;
  }
  .container-mid-content h1{
    font-size:2rem;
  }
  .mid-left img{
    height:85%;
    width:85%;
  }
.tile-content h2{
  font-size:1.5rem;
}
.tile-content h3{
  font-size:1rem;
}
.tile-content a{
  text-decoration:underline;
}
.container-mid-content h3{
  width:80%;
}
.mid-left{
  padding-right:.5rem;
}
}
@media only screen and (max-width:570px){
  .mid-left{
    display:none;
  }
  .mid-right{
    padding:1rem;
    width:100%;
    height:100%;
  }
  .image{
    display:none;
}
  .mobile-image{
    display:flex;
  }
  .mobile-image img{
    width:100%;
    max-height:15rem;
    padding:0;
    object-fit:cover;
  }
  .mid-tile,
  .mid-tile-contrast{
    flex-direction:column;
    overflow:hidden;
  }
  .tile-content {
    width:100%;
  }
  .tile-content h2,
  .tile-content h3,
  .tile-content a{
    display:flex;
    text-align:center;
    justify-content:center;
    align-items: content;
    color:#324347;
  }
  .tile-content,
  .tile-content{
    background-color:white;
    padding: .5rem 0;
  }
}
/* Third section - contrast bottom */
.contrast-container-bot{
  display:flex;
  flex-direction:column;
  background-color:#324347;
}
.curriculum{
  display:flex;
  flex-flow:row wrap;
  padding: 0 2.5rem;
  justify-content: space-around;
  width:100%;
}
.contrast-container-bot h1{
  padding-top:2rem;
  color:white;
  text-align:center;
}
.contrast-container-bot h2{
  color:white;
}
.program-image{
  width:100%;
}
.program-image img{
  height:auto;
  width:100%;
}
.program{
  background-color:white;
  width:25%;
  margin:2rem 1rem;

}
.program-name h2,
.program-info h3{
  color:#3C887E;
}
.program-name{
  padding:1rem;
  padding-bottom:0;
}
.program-info{
  padding:1rem;
  padding-bottom:2rem;
}
